## Tuple based Problems

#### 1. Create a tuple with integers from 1 to 5.

In [15]:
l=[i for i in range(1,6)]
tuple(l)

(1, 2, 3, 4, 5)

#### 2. Access the third element of a tuple.

In [16]:
t=(1,2,3,4,5)
print("third element of the tuple is",t[2])

third element of the tuple is 3

#### 3. Find the length of a tuple without using the `len()` function.

In [20]:
t=(12,34,5,6,321)
l=list(t)
def fun(l):
    c=0
    for i in l:
        c+=1
    print("the length of the tuple is",c)

In [21]:
fun(l)

the length of the tuple is 5

#### 4. Count the occurrences of an element in a tuple.

In [25]:
t=(12,34,56,78,34)
ele=78
c=0
for i in t:
    if(i==ele):
        c+=1
print(c)

1

#### 5. Find the index of the first occurrence of an element in a tuple.

In [28]:
t=(12,34,5,6,45,34)
l=list(t)
print("the occurance of the element 12 in the list is",l.index(5))

the occurance of the element 12 in the list is 2

#### 6. Check if an element exists in a tuple.

In [32]:
t=(12,45,67,89,21,2)
ele=210
if(ele in t):
    print("element exist")
else:
    print("sorry element does not exist")

sorry element does not exist

#### 7. Convert a tuple to a list.

In [33]:
t=("pw","skills",'data','science')
print("the list after converting tuple into list is ",list(t))

the list after converting tuple into list is  ['pw', 'skills', 'data', 'science']

#### 8. Convert a list to a tuple.

In [36]:
t=["pw","skills",'data','science']
print("the tuple after converting list into tuple is ",tuple(t))

the tuple after converting list into tuple is  ('pw', 'skills', 'data', 'science')

#### 9. Unpack the elements of a tuple into variables.

In [41]:
a,b,c,d=(1,2,3,4)
print(a)
print(b)
print(c)
print(d)

1
2
3
4

#### 10. Create a tuple of even numbers from 1 to 10.

In [43]:
l=[i for i in range(1,11) if(i%2==0)]
print(tuple(l))

(2, 4, 6, 8, 10)

#### 11. Create a tuple of odd numbers from 1 to 10.

In [44]:
l=[i for i in range(1,11) if(i%2!=0)]
print(tuple(l))

(1, 3, 5, 7, 9)

#### 12. Concatenate two tuples.

In [46]:
t1=(1,2,3,4)
t2=(5,6,7,8)
print(t1+t2)

(1, 2, 3, 4, 5, 6, 7, 8)

#### 13. Repeat a tuple three times.

In [47]:
t=(1,2,3,4)
print(t*3)

(1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4)

#### 14. Check if a tuple is empty.

In [50]:
t=()
l=list(t)
if(len(l)==0):
    print("it is empty")
else:
    print("elements exists in the tuplw")

it is empty

#### 16. Access the first element of a nested tuple.

In [52]:
t=((12,3,4,2),(45,67,892),(4,5,6,1))
print("first element in the tuple is",t[0][0])

first element in the tuple is 12

#### 17. Create a tuple with a single element.

In [53]:
t=(1)
print(t)

1

#### 18. Compare two tuples.

In [55]:
t1=(12,3,21)
t2=(23,3,21)
if(t1==t2):
    print("same")
elif(t1>t2):
    print("greator")
else:
    print("smaller")

smaller

#### 19. Delete a tuple.

In [166]:
t=(12,34,56,7)
del(t)
print(t)

NameError: name 't' is not defined

#### 20. Slice a tuple.

In [61]:
t=[12,3,56,78,3]
n=3
print(t[0:n+1])
print(t[n+1:])

[12, 3, 56, 78]
[3]

#### 21. Find the maximum value in a tuple.

In [62]:
t=(12,4,5,6,7,8,90)
l=list(t)
print(max(l))

90

#### 22. Find the minimum value in a tuple.

In [63]:
t=(12,4,5,6,7,8,90)
l=list(t)
print(min(l))

4

#### 23. Convert a string to a tuple of characters.

In [65]:
s="pwskills data science"
print(tuple(s.split(' ')))

('pwskills', 'data', 'science')

#### 24. Convert a tuple of characters to a string.

In [69]:
t=('pwskills', 'data', 'science')
s=' '
print(s.join(t))

pwskills data science

#### 25. Create a tuple from multiple data types.

In [70]:
t=(12,12+4j,"pwskills",[12,4,5],True)
print(t)

(12, (12+4j), 'pwskills', [12, 4, 5], True)

#### 26. Check if two tuples are identical.

In [71]:
t1=(1,2,3)
t2=(1,2,3)
if(t1==t2):
    print("identical")
else:
    print("missmatched")

identical

#### 27. Sort the elements of a tuple.

In [76]:
t=(12,45,67,4)
l=list(t)
l.sort()
print(tuple(l))

(4, 12, 45, 67)

#### 28. Convert a tuple of integers to a tuple of strings.

In [81]:
t=(12,3,4,5,6)
l=[]
for i in t:
    l.append((str(i)))
print(tuple(l))

('12', '3', '4', '5', '6')

#### 29. Convert a tuple of strings to a tuple of integers.

In [83]:
t=('12', '3', '4', '5', '6')
l=[]
for i in t:
    l.append(int(i))
print(tuple(l))

(12, 3, 4, 5, 6)

#### 30. Merge two tuples.

In [84]:
t1=(1,2,3,4)
t2=(5,6,7,8)
print(t1+t2)

(1, 2, 3, 4, 5, 6, 7, 8)

####  31. Flatten a nested tuple.

In [107]:
t=((1,2,3,4),(6,7,8,9))
l=list(t)
for i in l:
    for j in i:
        print(j,end=' ')

#[j for j in i  for i in l]

1 2 3 4 6 7 8 9

#### 32. Create a tuple of the first 5 prime numbers.

In [138]:
def prime(x, y):
    prime_list = []
    for i in range(x, y):
        if i == 0 or i == 1:
            continue
        else:
            for j in range(2, int(i/2)+1):
                if i % j == 0:
                    break
            else:
                prime_list.append(i)
    return prime_list

In [139]:
prime(1,6)

[2, 3, 5]

#### 33. Check if a tuple is a palindrome.

In [112]:
t=(1,1,1)
t1=t[::-1]
if(t==t1):
    print("tuple is palindrome")
else:
    print("no palindrome")

tuple is palindrome

#### 34. Create a tuple of squares of numbers from 1 to 5.

In [113]:
l=[i*i for i in range(1,6)]
print(tuple(l))

(1, 4, 9, 16, 25)

#### 35. Filter out all even numbers from a tuple.

In [117]:
l=[12,3,4,5,6]
t=tuple([i for i in l if (i%2!=0)])
print(t)

(3, 5)

#### 36. Multiply all elements in a tuple by 2.

In [120]:
z=(1,2,3,4,5)
tuple(map(lambda x:x*2,z))

(2, 4, 6, 8, 10)

#### 37. Create a tuple of random numbers.

In [126]:
import random
l=[]
for i in range(1,11):
    l.append(random.randint(1,10))
print(tuple(l))

(3, 10, 4, 6, 2, 5, 1, 9, 10, 4)

#### 38. Check if a tuple is sorted.

In [129]:
t=(1,2,3,4,0)
for i in range(len(t)-1):
    if(t[i]<t[i+1]):
        f=True
    else:
        f=False
        break
if(f==True):
    print("tuple is sorted")
else:
    print("tuple is not sorted")

tuple is not sorted

#### 39. Rotate a tuple to the left by `n` positions.

In [136]:
t=(12,3,4,5,6,9)
l=list(t)
for i in range(len(l)):
    if(len(l)%2==0):
        for j in range(3,len(l)):
            l[i],l[j]=l[j],l[i]
        for k in range(0,3):
            l[i],l[k]=l[k],l[i]
            
        
print(tuple(l))

(6, 9, 12, 3, 4, 5)

#### 40. Rotate a tuple to the right by `n` positions.

In [137]:
l=(1,4,5,6,7)
l=l[-3:]+l[:-3]
print(l)

(5, 6, 7, 1, 4)

#### 41. Create a tuple of the first 5 Fibonacci numbers.

In [140]:
def printFibonacciNumbers(n):

    f1 = 0
    f2 = 1
    if (n < 1):
        return
    print(f1, end=" ")
    for x in range(1, n):
        print(f2, end=" ")
        next = f1 + f2
        f1 = f2
        f2 = next


# Driven code
printFibonacciNumbers(5)

0 1 1 2 3

#### 42. Create a tuple from user input.

In [141]:
t=[]
for i in range(5):
    a=int(input("enter element"))
    t.append(a)
print(tuple(t))

enter element23
enter element45
enter element67
enter element89
enter element21
(23, 45, 67, 89, 21)

#### 43. Swap two elements in a tuple.

In [147]:
l=(1,2,3,4)
t=list(l)
index1=int(input("enter index1"))
index2=int(input("enter index2"))
temp1=t[index1]
t[index1]=t[index2]
t[index2]=temp1
print(tuple(t))

enter index13
enter index22
(1, 2, 4, 3)

#### 44. Reverse the elements of a tuple.

In [149]:
t=(12,3,4,5)
t1=t[::-1]
print(t1)

(5, 4, 3, 12)

#### 45. Create a tuple of the first `n` powers of 2.

In [153]:
tuple([pow(2,i) for i in range(1,6)])

(2, 4, 8, 16, 32)

#### 46. Find the longest string in a tuple of strings.

In [154]:
l=('pwskills', 'datasciencemastes', 'science')
max1=""
for i in l:
    if(len(i)>len(max1)):
        max1=i
print(max1)

datasciencemastes

#### 47. Find the shortest string in a tuple of strings.

In [155]:
l=('pwskills', 'datasciencemastes', 'data')
short=l[0]
for i in l:
    if(len(i)<len(short)):
        short=i
print(short)

data

#### 48. Create a tuple of the first `n` triangular numbers.

In [158]:
def traingle(n):
    return [i * (i + 1) // 2 for i in range(1, n + 1)]
n = 5
traingles = traingle(n)
print("tuple of the first", n, "triangular numbers:", tuple(traingles))

tuple of the first 5 triangular numbers: (1, 3, 6, 10, 15)

#### 49. Check if a tuple contains another tuple as a subsequence.

In [160]:
test_list = (9, 4, 5, 8, 10)
sub_list = (10, 5, 4)


flag = 0
if(all(x in test_list for x in sub_list)):
    flag = 1

if (flag):
    print("Yes")
else:
    print("No")

Yes

#### 50. Create a tuple of alternating 1s and 0s of length `n`.

In [162]:
l=[]
for i in range(1,10):
    if(i%2==0):
        l.append(0)
    else:
        l.append(1)
print(tuple(l))

(1, 0, 1, 0, 1, 0, 1, 0, 1)