### List Based Practice Problem :

#### 1. Create a list with integers from 1 to 10.

In [9]:
[i for i in range(1,11)]

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

#### 2. Find the length of a list without using the `len()` function.

In [10]:
l=[12,34,56,78]
c=0
for i in l:
    c+=1
print("length of the list is",c)

length of the list is 4

#### 3. Append an element to the end of a list.

In [11]:
l=[1,2,3,45]
ele=34
print("list before appending the element is",l)
l.append(ele)
print("list after appending the element is",l)

list before appending the element is [1, 2, 3, 45]
list after appending the element is [1, 2, 3, 45, 34]

#### 4. Insert an element at a specific index in a list.

In [12]:
l=[2,34,5,3,2]
print("list before inserting the element is",l)
l.insert(2,0)
print("list after inserting the element is",l)

list before inserting the element is [2, 34, 5, 3, 2]
list after inserting the element is [2, 34, 0, 5, 3, 2]

#### 5. Remove an element from a list by its value.

In [13]:
l=[12,45,67,4,3,2]
print("list before removing an element by it's value is",l)
l.remove(45)
print("list after removing an element by it's value is",l)

list before removing an element by it's value is [12, 45, 67, 4, 3, 2]
list after removing an element by it's value is [12, 67, 4, 3, 2]

#### 6. Remove an element from a list by its index.

In [14]:
l=[12,45,67,4,3,2]
index=int(input("enter an index"))
for i in range(len(l)):
    if(i==index):
        l.remove(l[i])
print(l)

enter an index1
[12, 67, 4, 3, 2]

#### 7. Check if an element exists in a list.

In [21]:
l=[12,34,56,7]
ele=int(input("enter an element"))
if(ele in l):
        print("element {} is in {}".format(ele,l))
else:
    print("no match found")

enter an element56
element 56 is in [12, 34, 56, 7]

#### 8. Find the index of the first occurrence of an element in a list.

In [31]:
f=True
l=[12,45,67,89,21]
ele=int(input("enter element"))
for i in l:
    if(ele in l):
        f=True
        break
    else:
        f=False
if(f==True):
    print("index is",l.index(ele))
else:
    print("elment not found")

enter element67
index is 2

#### 9. Count the occurrences of an element in a list.

In [37]:
l=[12,34,56,67,89,21,3,3]
ele=int(input("enter an element"))
c=0
for i in l:
    if(i==ele):
        c+=1
print("the occurance of {} is {}".format(ele,c))
        

# one more solution

print("the occurance of {} is {}".format(ele,l.count(ele)))

enter an element3
the occurance of 3 is 2
the occurance of 3 is 2

#### 10. Reverse the order of elements in a list.

In [41]:
l=[12,34,56,78,89]
l=l[::-1]
print("reversed list is ",l)

reversed list is  [89, 78, 56, 34, 12]

#### 11. Sort a list in ascending order.

In [45]:
l=[12,4,56,7,88,92,21,-2]
l.sort()
print("list after sorting in ascending order is",l)

list after sorting in ascending order is [-2, 4, 7, 12, 21, 56, 88, 92]

#### 12. Sort a list in descending order.

In [46]:
l=[12,4,56,7,88,92,21,-2]
l.sort(reverse=True)
print("list after sorting in descending order is",l)

list after sorting in descending order is [92, 88, 56, 21, 12, 7, 4, -2]

#### 13. Create a list of even numbers from 1 to 20.

In [47]:
[i for i in range(1,21) if(i%2==0)]

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

#### 14. Create a list of odd numbers from 1 to 20.

In [48]:
[i for i in range(1,21) if(i%2!=0)]

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

#### 15. Find the sum of all elements in a list.

In [56]:
l=[12,4,56,7,88,92,21,-2]
sum1=0
#[sum1 for i in l sum1=sum1+i]  using list comprehension
for i in l:
    sum1+=i
print("sum is ",sum1)

sum is  278

#### 16. Find the maximum value in a list.

In [58]:
l=[12,4,56,7,88,92,21,-2]
max1=0
for i in l:
    if(i>max1):
        max1=i
print("maximum value from the list is",max1)

maximum value from the list is 92

#### 17. Find the minimum value in a list.

In [59]:
l=[12,4,56,7,88,92,21,-2]
print("minimum value form the list is",min(l))

minimum value form the list is -2

#### 18. Create a list of squares of numbers from 1 to 10.

In [60]:
[i**2 for i in range(1,11)]

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

#### 19. Create a list of random numbers.

In [75]:
import random
l=[]
for i in range(1,11):
    l.append(random.randint(1,100))
print(l)

[35, 53, 44, 23, 26, 24, 60, 34, 36, 43]

#### 20. Remove duplicates from a list.

In [81]:
l=[12,2,3,4,5,6,7,8,6,6,53]
s=set(l)
res=list(s)
print("after removing duplicates from the list then list is",res)

after removing duplicates from the list then list is [2, 3, 4, 5, 6, 7, 8, 12, 53]

#### 21. Find the common elements between two lists.

In [85]:
l1=[12,34,5,6]
l2=[2,3,4,5,6,34,12]
for i in l1:
    if(i in l2):
        print("common elements are",i)

common elements are 12
common elements are 34
common elements are 5
common elements are 6

#### 22. Find the difference between two lists.

In [94]:
l1=[12,34,5,6,-2,-7]
l2=[2,3,4,5,6,34,12]
[i for i in l1 if i not in l2]

[-2, -7]

#### 23. Merge two lists.

In [95]:
l1=[12,34,5,6,-2,-7]
l2=[2,3,4,5,6,34,12]
print("after merging two lists",l1+l2)

after merging two lists [12, 34, 5, 6, -2, -7, 2, 3, 4, 5, 6, 34, 12]

#### 24. Multiply all elements in a list by 2.

In [96]:
l=[12,3,4,5,5,6,7]
[i*2 for i in l]

[24, 6, 8, 10, 10, 12, 14]

#### 25. Filter out all even numbers from a list.

In [97]:
l=[12,3,4,5,5,6,7]
[i for i in l if(i%2==0)]

[12, 4, 6]

#### 26. Convert a list of strings to a list of integers.

In [102]:
l=['12','34','56','78']
[int(i) for i in l]

[12, 34, 56, 78]

#### 27. Convert a list of integers to a list of strings.

In [101]:
l=[12,4,5,6,7,7]
for i in l:
    print(str(i),end=' ')

12 4 5 6 7 7

#### 28. Flatten a nested list.

In [105]:
l=[[1,2,3],[4,5,6],[7,8,9]]
[j for i in l for j in i]

[1, 2, 3, 4, 5, 6, 7, 8, 9]

#### 29. Create a list of the first 10 Fibonacci numbers.

In [11]:



def printFibonacciNumbers(n):

    f1 = 0
    f2 = 1
    if (n < 1):
        return
    print(f1, end=" ")
    for x in range(1, n):
        print(f2, end=" ")
        next = f1 + f2
        f1 = f2
        f2 = next


# Driven code
printFibonacciNumbers(10)

# This code is contributed by Danish Raza

0 1 1 2 3 5 8 13 21 34

####  30. Check if a list is sorted.

In [15]:
f=True
f=False
l=[1,4,5,6,7,0]
for i in range(len(l)-1):
    if(l[i]<l[i+1]):
        f=True
    else:
        f=False
        break
if(f==True):
    print("list is sorted")
else:
    print("list is not sorted")

list is not sorted

#### 31. Rotate a list to the left by `n` positions.

In [29]:
l=[12,3,4,5,6,9]
for i in range(len(l)):
    if(len(l)%2==0):
        for j in range(3,len(l)):
            l[i],l[j]=l[j],l[i]
        for k in range(0,3):
            l[i],l[k]=l[k],l[i]
            
        
print(l)

[6, 9, 12, 3, 4, 5]

#### 32. Rotate a list to the right by `n` positions.

In [36]:
l=[1,4,5,6,7]
l=l[-3:]+l[:-3]
print(l)

[5, 6, 7, 1, 4]

#### 33. Create a list of prime numbers up to 50.

In [50]:
def prime(x, y):
    prime_list = []
    for i in range(x, y):
        if i == 0 or i == 1:
            continue
        else:
            for j in range(2, int(i/2)+1):
                if i % j == 0:
                    break
            else:
                prime_list.append(i)
    return prime_list

In [51]:
prime(2,50)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

#### 34. Split a list into chunks of size `n`.

In [54]:
l=['pw','skills','data','science','masters','pro','batch','by','pwskills']
n=3
for i in range(0,len(l),n):
    print(l[i:i+n])

['pw', 'skills', 'data']
['science', 'masters', 'pro']
['batch', 'by', 'pwskills']

#### 35. Find the second largest number in a list.

In [57]:
l=[12,3,4,5,6,7,34,42]
l.sort()
print("second largest element in the list is ",l[-2])

second largest element in the list is  34

#### 36. Replace every element in a list with its square.

In [39]:
a=[1,2,3,4,5,6]
l=map(lambda x:x**2,a)
print(list(l))

[1, 4, 9, 16, 25, 36]

#### 37. Convert a list to a dictionary where list elements become keys and their indices become values.

In [75]:
l=[12,3,4,5,6]
{i:j for i,j in enumerate(l)}

{0: 12, 1: 3, 2: 4, 3: 5, 4: 6}

#### 38. Shuffle the elements of the list randomly

In [88]:
import random
l=[12,4,56,78,9]
random.shuffle(l)
print(l)

[9, 78, 12, 4, 56]

#### 39. Create a list of the first 10 factorial numbers.

In [93]:
def fact(n):
    if(n<=1):
        return n
    else:
        return n*fact(n-1)

In [95]:
list(map(fact,range(1,11)))

[1, 2, 6, 24, 120, 720, 5040, 40320, 362880, 3628800]

#### 40. Check if two lists have at least one element in common.

In [101]:
l1=[12,3,4,5]
l2=[2,3,4,1,3]
[(True) if i in l2 else False  for i in l1]

[False, True, True, False]

#### 41. Remove all elements from a list.

In [103]:
l=[12,3,4,5]
l.clear()
print(l)

[]

#### 42. Replace negative numbers in a list with 0.

In [106]:
l=[1,2,3,-4,5,-6,-78]
[0 if i<0 else i for i in l]

[1, 2, 3, 0, 5, 0, 0]

#### 43. Convert a string into a list of words.

In [107]:
l="pwskills data science"
l.split(' ')

['pwskills', 'data', 'science']

#### 44. Convert a list of words into a string.

In [108]:
l=['pwskills', 'data', 'science']
s=' '
s.join(l)

'pwskills data science'

#### 45. Create a list of the first `n` powers of 2.

In [112]:
for i in range(2,10):
    print(pow(2,i))

4
8
16
32
64
128
256
512

#### 46. Find the longest string in a list of strings.

In [150]:
from functools import reduce
l=['pwskills', 'datasciencemastes', 'science']
max1=""
for i in l:
    if(len(i)>len(max1)):
        max1=i
print(max1)

datasciencemastes

#### 47. Find the shortest string in a list of strings.

In [158]:
l=['pwskills', 'datasciencemastes', 'data']
short=l[0]
for i in l:
    if(len(i)<len(short)):
        short=i
print(short)

data

#### 48. Create a list of the first `n` triangular numbers.

In [156]:
def traingle(n):
    return [i * (i + 1) // 2 for i in range(1, n + 1)]
n = 5
traingles = traingle(n)
print("List of the first", n, "triangular numbers:", traingles)

List of the first 5 triangular numbers: [1, 3, 6, 10, 15]

#### 49. Check if a list contains another list as a subsequence.

In [161]:

test_list = [9, 4, 5, 8, 10]
sub_list = [10, 5, 4]

print("Original list : " + str(test_list))
print("Original sub list : " + str(sub_list))


flag = 0
if(all(x in test_list for x in sub_list)):
    flag = 1

if (flag):
    print("Yes")
else:
    print("No")

Original list : [9, 4, 5, 8, 10]
Original sub list : [10, 5, 4]
Yes

#### 50. Swap two elements in a list by their indices.

In [154]:
l=[1,2,3,4]
index1=int(input("enter first index"))
index2=int(input("enter second index"))
temp = l[index1]
l[index1] = l[index2]
l[index2] = temp
print(l)

enter first index0
enter second index1
[2, 1, 3, 4]